@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP&display=swap');

:root {
    --backColor: #DFC;
    --highlightColor: #380;
    --textColor: black;
    --infoBorderColor: #FC0;
    --infoBackColor: #FE8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backColor: #343;
        --highlightColor: #9C7;
        --textColor: white;
        --infoBorderColor: #FC5;
        --infoBackColor: #A80;
    }
}

body {
    background-color: var(--backColor);
    border: 0;
    color: var(--textColor);
    cursor: url(qnlycursor.cur), auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    padding: 0.5em;
    
}

header h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
}

.header-link {
    margin-left: auto;
    margin-right: 3%;
}

.header-link a {
    display: block;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    width: fit-content;
    font-size: 1rem;
    right: 5%;
}

.twitter {
    color: white;
    background-color: #1D9BF0;
    border-radius: 5em;
    padding: 0.5em 1em;
}

.github {
    color: white;
    background-color: #333;
    border-radius: 0.2em 0.8em;
    border-width: 0.13em;
    border-color: #AAA;
    border-style: solid;
    margin-top: 0.5em;
    padding: 0.3em 0.5em;
}

.last-update {
    color: var(--textColor);
}

main {
    margin: 0 10%;
    width: 80%;
}

table {
    border-collapse: collapse;
    font-size: smaller;
    margin: auto;
}

table th, table td {
    border-bottom: 0.15em solid var(--highlightColor);
    padding: 0.4em 1em;
    text-align: center;
}

thead th {
    padding-bottom: 0.2em;
}

.timeTable {
    table-layout: fixed;
    width: 100%;
}

.timeTable th, .timeTable td {
    padding: 0.5em 0;
    border: none;
    height: fit-content;
}

.timeTable th {
    width: 2.5em;
}

.timeTable td {
    text-align: center;
}

.onemin {
    background-color: #FC5;
    color: black;
}

.threemin {
    background-color: #F83;
    color: black;
}

details {
    margin-top: 2em;
    padding: 1em;
    border-color: var(--highlightColor);
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    list-style-type: none;
}

details .playlists {
    margin: 0;
}

.list {
    list-style-type: "🍌 ";
    padding: 3%;
    padding-top: 0;
}

.list h3 {
    margin-top: 3em;
    font-style: normal;
}

.about {
    line-height: 1.7;
}

.link {
    color: var(--highlightColor);
    text-decoration: none;
}

.playlists {
    margin-left:5%;
    padding: 0;
}

.playlists ul {
    font-size: 1.5rem;
    list-style: none;
    padding-left: 5%;
}

.playlist {
    list-style-type: "🌟 ";
}

.playlist a {
    align-items: flex-end;
    border-bottom: 0.2em solid var(--highlightColor);
    color: var(--textColor);
    display: flex;
    font-size: 2rem;
    margin-top: 2em;
    text-decoration: none;
    width: fit-content;
}

.playlists .playlist .strikethrough {
    text-decoration: line-through;
}

.gaisetsu {
    border: 0.5em solid var(--highlightColor);
    list-style: none;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    width: fit-content;
}

.services {
    margin: 0.5em 0 1em 0;
}

.twitter,.github,.link,.listlink,summary {
    cursor: url(qnlycursorlink.cur), auto;
}


.info {
    margin: 0;
    margin-top: 3em;
    padding: 1em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    border-color: var(--infoBorderColor);
    color: var(--textColor);
    background-color: var(--infoBackColor);
}

.info p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.del {
    text-decoration-line: line-through;
    text-decoration-style: double;
}
